@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "sans-fa";
    src: url("/sansfa.ttf");
  }

  /* اگر فایل‌های دیگری برای وزن‌های مختلف دارید، آنها را اینجا اضافه کنید */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

/* استفاده از font-synthesis برای شبیه‌سازی وزن‌های مختلف */
.font-thin,
.font-extralight,
.font-light {
  font-family: "sans-fa" !important;
  font-weight: 400;
  font-synthesis: weight;
  font-variation-settings: "wght" 300;
}

.font-normal {
  font-family: "sans-fa" !important;
  font-weight: 400;
}

.font-medium,
.font-semibold {
  font-family: "sans-fa" !important;
  font-weight: 400;
  font-synthesis: weight;
  font-variation-settings: "wght" 500;
}

.font-bold,
.font-extrabold,
.font-black {
  font-family: "sans-fa" !important;
  font-weight: 400;
  font-synthesis: weight;
  font-variation-settings: "wght" 700;
}

*,
body {
  font-family: "sans-fa" !important;
}
