@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "sans-fa";
    src: url("/sansfa.ttf");
  }

  @theme {
    --color-background: #ffffff;
    --color-foreground: #000000;
    --color-primary: #336699;
    --color-secondary: #6699cc;
    --color-tertiary: #99ccff;
    --color-btn: #ffcc66;
    --color-btn-hover: #f9a825;
    --color-secondary-background: oklch(0.709 0.01 56.259);
  }

  /* اگر فایل‌های دیگری برای وزن‌های مختلف دارید، آنها را اینجا اضافه کنید */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

/* استفاده از font-synthesis برای شبیه‌سازی وزن‌های مختلف */
.font-thin,
.font-extralight,
.font-light {
  font-family: "sans-fa" !important;
  font-weight: 300;
  font-synthesis: weight;
  font-variation-settings: "wght" 300;
}

.font-normal {
  font-family: "sans-fa" !important;
  font-weight: 400;
}

.font-medium,
.font-semibold {
  font-family: "sans-fa" !important;
  font-weight: 500;
  font-synthesis: weight;
  font-variation-settings: "wght" 500;
}

.font-bold,
.font-extrabold {
  font-family: "sans-fa" !important;
  font-weight: 700;
  font-synthesis: weight;
  font-variation-settings: "wght" 700;
}

.font-extrabold {
  font-weight: 600;
}

.font-black {
  font-weight: 800;
}

*,
body {
  font-family: "sans-fa" !important;
}

.bg-image-hero {
  background-image: url("https://hardcore-euler-avoel0rps.storage.c2.liara.space/section-candle.jpg");
  background-size: cover;
  background-position: center;
}
